<link type="text/css" href="{{asset "css/author.css"}}" rel="stylesheet"/>
<link type="text/css" href="{{asset "css/detail-post.css"}}" rel="stylesheet" />

{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}

{{! Everything inside the #author tags pulls data from the author }}
{{#author}}
<div class='author-container'>
    <header class="main-header author-head {{#if cover}}" style="background-image: url({{cover}}){{else}}no-cover{{/if}}">
    </header>
    <section class="author-profile inner">
        {{#if image}}
        <figure class="author-image">
            <div class="img" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></div>
        </figure>
        {{/if}}
            {{#if website}}
            <div class='website-link'>
                <a href="{{website}}">
                    <span class='facebook-link fa fa-facebook-square'></span>
                </a>
            </div>
            {{/if}}
        <div class='embedded-container container post-container'>
        {{#get "posts" filter="page:true+slug:aboutme"}}
          {{#foreach posts}}
            <div class="row post-content-row" role="main">
              <div class='col col-md-12'>
                <article class="">
                  <section class="post-content">
                    {{content}}
                  </section>
                </article>
              </div>
            </div>
          {{/foreach}}
        {{/get}}
        </div>



      <!--   <div class='row'>
            <div class='col col-md-offset-2 col-md-8'>
                <h1 class="author-title">{{name}}</h1>
            {{#if bio}}

                <h2 class="author-bio">
                    {{bio}}
                    อ่านเรื่องราวที่สร้างแรงบันดาลใจของจอมได้ที่
                    <a href="http://dreamaction.co/aboutme/">
                        "จากเด็กสถาปัตย์ธรรมดาๆสู่10ปีในบริษัทแนวหน้าระดับโลก"
                    </a>
                    ถ้ามีคำถาม<a href="http://dreamaction.co/contact/">ติดต่อหาจอมได้เลยนะคะ
                    </a>

                </h2>
            </div>

        </div> -->

            {{/if}}

    </section>
</div>
{{/author}}




{{! The main content area on the homepage }}
<main class="container-fluid content" role="main">

    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}

</main>
