<link type="text/css" href="{{asset "css/author.css"}}" rel="stylesheet"/>

{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}

{{! Everything inside the #author tags pulls data from the author }}
{{#author}}
<div class='author-container'>
    <header class="main-header author-head {{#if cover}}" style="background-image: url({{cover}}){{else}}no-cover{{/if}}">
    </header>

    <section class="author-profile inner">
        {{#if image}}
        <figure class="author-image">
            <div class="img" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></div>
        </figure>
        {{/if}}
        <div class='row'>
            <div class='col col-md-offset-2 col-md-8'>
                <h1 class="author-title">{{name}}</h1>
            {{#if bio}}
            
                <h2 class="author-bio">
                    {{bio}}                    
                </h2>    
            </div>
            
        </div>

            {{/if}}
        <div class="author-meta">
            {{#if website}}
                <a href="{{website}}">
                    <span class='facebook-link fa fa-facebook-square'></span>
                </a>
            {{/if}}
        </div>
    </section>
</div>
    
{{/author}}

{{! The main content area on the homepage }}
<main class="container-fluid content" role="main">
    
    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}

</main>
