<link type="text/css" href="{{asset "css/detail-post.css"}}" rel="stylesheet" />

{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}
<div class='post-container container-fluid'>
  <div class='row'>
    <header class="col col-md-12 post-head" style="{{#if image}}background-image: url({{image}}){{else}}background-image:url({{@blog.cover}}){{/if}}">
      {{#if featured}}
      <div class='featured'>
        <span class='fa fa-star'></span>
      </div>
      {{/if}}
      <div class='title'>
        <h1>
          {{title}}
        </h1>
        <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}"><p><span class='fa fa-calendar'></span> &nbsp&nbsp{{date format="MMMM D, YYYY"}}</p></time>
      </div>

      <div class='tags text-right'>
        <p>{{tags}}</p>
      </div>
    </header>
  </div>
</div>


<div class='post-container container'>
  <div class="row post-content-row" role="main">
    <div class='col col-md-12'>
      <article class="{{post_class}}">
        <div class='col col-md-8'>
          <section class="post-content">
              <div class='text-center ads-container'>
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- dreamaction post -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-9286840058252726"
                     data-ad-slot="4624287293"
                     data-ad-format="auto"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
              </div>
              {{content}}

              <br>
              <hr>
              <!-- <div class="row">
                <a href="/portfolio-services/" onClick="ga('send', 'event', 'bottom-interest-in-services', 'bottom-interest-in-services');">
                  <img class='img img-responsive' src="{{asset 'images/portfolio-review-sidebar-banner-300.png'}}" alt="พลิกโฉม Portfolio ของคุณให้ดูดีกว่าที่เคย Portfolio Review">
                </a>
              </div> -->

              {{#author}}
                <div class='row author-inpost-container'>
                  <div class='col col-sm-2'>
                    {{#if image}}
                      <a href="{{url}}"><img class='img-circle author-inpost-image' src="{{image}}" alt="{{name}}"></a>
                    {{/if}}
                  </div>
                  <div class='col col-sm-10'>
                      <h4><a href="{{url}}">{{name}}</a></h4>
                      {{#if bio}}
                          <p>{{bio}} อ่านเรื่องราวของจอมได้ที่
                          <a href="{{url}}">
                              "จากเด็กสถาปัตย์ธรรมดาๆสู่10ปีในบริษัทแนวหน้าระดับโลก"
                          </a>
                          ถ้ามีคำถาม<a href="/contact/">ติดต่อหาจอมได้เลยนะคะ
                          </a></p>
                      {{else}}
                          <p>Read <a href="{{url}}">more posts</a> by this author.</p>
                      {{/if}}
                      {{#if website}}
                        <a href="{{website}}">
                          <span class='facebook-link fa fa-facebook-square'></span>
                        </a>
                      {{/if}}
                  </div>
                </div>
              {{/author}}

              <div id="fb-root"></div>
              <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=214316472233662";
                fjs.parentNode.insertBefore(js, fjs);
              }(document, 'script', 'facebook-jssdk'));</script>

              <div id="fb-root"></div>
          </section>
          <footer class="post-footer">
          {{! Everything inside the #author tags pulls data from the author }}
            <!-- facebook comment -->
            <div class="fb-comments" data-href="http://dreamaction.co{{url}}" data-numposts="5"></div>
          </footer>
        </div>

        <div class='col col-md-4'>
          {{> "sidebar"}}
        </div>

      </article>
    </div>
  </div>
</div>

<div class='post-container container-fluid'>

  <aside class="row read-next">

      {{#next_post}}
      <a class="read-next-story text-center"  href="{{url}}">
        <div class='' style="{{#if image}}background-image: url({{image}}){{else}}background-image:url({{@blog.cover}}){{/if}}">
          <section class="post">
            <h2>{{title}}</h2>
            <p>{{excerpt words="19"}}&hellip;</p>
          </section>
        </div>

      </a>
      {{/next_post}}
      {{#prev_post}}
      <a class="read-next-story text-center" href="{{url}}">
        <div class='' style="{{#if image}}background-image: url({{image}}){{else}}background-image:url({{@blog.cover}}){{/if}}">
          <section class="post">
            <h2>{{title}}</h2>
            <p>{{excerpt words="19"}}&hellip;</p>
          </section>
        </div>
      </a>
      {{/prev_post}}
  </aside>
</div>


{{/post}}
