@font-face {
    font-family: 'cs_prajadregular';
    src: url('../fonts/prajad/csprajad-webfont.eot');
    src: url('../fonts/prajad/csprajad-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/prajad/csprajad-webfont.woff2') format('woff2'),
         url('../fonts/prajad/csprajad-webfont.woff') format('woff'),
         url('../fonts/prajad/csprajad-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bangna';
    src: url('../fonts/bangna/bangna-new-webfont.eot');
    src: url('../fonts/bangna/bangna-new-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bangna/bangna-new-webfont.woff2') format('woff2'),
         url('../fonts/bangna/bangna-new-webfont.woff') format('woff'),
         url('../fonts/bangna/bangna-new-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body,
h1, h2, h3, h4, h5, h6,
.main-nav a,
.subscribe-button,
.page-title,
.post-meta,
.read-next-story .post:before,
.pagination,
.site-footer,
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "bangna";
  line-height: 1.5;
}

p, ul, li {
	font-family: 'cs_prajadregular';
	font-size: 18px !important;
  line-height: 1.5;
}

.main-header {
	margin: 0px;
}
.main-logo, .page-description {
	color: white !important;
}

.blog-logo > img {
	height: 50px !important;
	position: relative;
	top: -5px;
	left: 10px;
}

.head-container {
	color: white;
	padding: 0px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

/*.head-container .col div {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
}*/

.head-tag-container {
  color: white;
  height: 300px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
  position: relative;;
  padding: 0px;
}

.head-tag-container div {
  padding: 10px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  position: absolute;
  bottom: 0px;
  word-wrap: break-word;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}


.ads-container {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#youmax {
  max-width: 100% !important;
}
