.post-container {
	background-color: #F5F8FB;
}
.post-head {
	height: 325px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position:relative;
	padding: 0px;
}
.post-head .featured {
	color: #EF660A;
	position: absolute;
	top: 4px;
	font-size: 18px;
}
.post-head .title {
	padding: 10px;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	position: absolute;
	bottom: 0px;
	word-wrap: break-word;

	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
}

.post-head .title time {
	font-size: 12px;
	font-style: italic;
}

.post-head .title a {
	text-decoration: none;
	color: white;
}

.post-head .title a:hover {
	color: #EF660A;
}

.post-head .title div {
	margin-bottom: 20px;
}

.post-head .img-circle {
	height: 50px;
	margin-right: 5px;
}

.post-head .author {
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	padding-right: 10px;
	position: absolute;
	bottom: 10px;
	right: 5px;
}

.post-head .author a {
	text-decoration: none;
	color: white;
}

.post-head .author a:hover {
	color: #EF660A;
}


.post-head .tags {
	padding-top: 4px;
}

.post-head .tags a {
	background-color: #EF660A;
	padding: 6px;
	font-size: 12px;
	text-decoration: none;
	color: white;
}

.post-head .tags a:hover {
	color: black;
}


.post-content-row {
	background-color: white;
	padding-top: 15px;
	overflow: hidden;
	font-size: 18px;
	/*line-height:2em;*/
}

.post-content-row p {
	padding-bottom: 5px;
}

.fb-comments, .fb-comments iframe[style], .fb-comments span[style] {
	width: 100% !important;
}

.read-next-story {
	position: relative;
	color: white;
	text-decoration: none;
}

.read-next-story:hover, .read-next-story:hover h2 {
	position: relative;
	color: #EF660A;
	text-decoration: none;
	transition: all 0.2s ease;
}


.read-next-story div {
	padding: 60px 10px 60px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	box-shadow: inset 2px 43px 300px 63px rgba(0,0,0,0.7);
}

.read-next-story div:hover {
    box-shadow: inset 2px 43px 300px 63px rgba(0,0,0,1);
    transition: all 0.2s ease;
}

.read-next-story:hover .post:before {
    color: #222;
    background: #EF660A;
    transition: all 0.2s ease;
}

.read-next-story .post:before {
    content: "อ่านอันนี้ต่อ";
    padding: 4px 10px 5px;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: "Open Sans", sans-serif;
    color: rgba(255,255,255,0.8);
    border: rgba(255,255,255,0.5) 1px solid;
    border-radius: 4px;
    transition: all 0.5s ease;
}

.read-next-story h2 {
    margin-top: 1rem;
    color: #fff;
}


/* Keep images centered, and allow images wider than the main
   text column to break out. */
.post-content img {
    display: block;
    max-width: 100%;
    height: auto;
    padding: 0.6em 0;
    /* Centers an image by (1) pushing its left edge to the
       center of its container and (2) shifting the entire image
       in the opposite direction by half its own width.
       Works for images that are larger than their containers. */
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%); /* for Safari and iOS */
    -ms-transform: translateX(-50%); /* for IE9 */
    transform: translateX(-50%);
}
.author-inpost-container {
	padding: 0px;
	padding-bottom: 10px;
}

.author-inpost-image {
	width: 100px;
}

.author-inpost-container span {
	font-size: 20px;
}

.facebook-page a {
	font-size: 10px;
}

@media screen and (max-width: 48em){
    .author-inpost-image {
			width: 100px;
			margin: 0 0;
		}

		.author-inpost-container {
			text-align: center;
		}
}
